<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Posts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <h1>Posts</h1>
    <a href="/posts/new">Add Post</a>
    <a href="/dash">Dashboard</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Comment</th>
                <th>Owner</th>
                <th>Liked</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{post.id}}</td>
                <td><img style="height:200px;width:200px;display:fit;"  src="{{post.img_url}}" alt=""></td>                <td>{{post.comment}}</td>
                <td>{{post.owner.first_name}} {{post.owner.last_name}}</td>
                <td>{{post.likes | length}}</td>

                <td>
                  {% if session['user_id'] == post.user_id %}
                  <a href="/posts/{{post.id}}/edit">Edit</a>
                  <a href="/posts/{{post.id}}/destroy">Delete</a>
                  {% endif %}
                  <a href="/posts/{{post.id}}/like">like</a>
                  <!-- <a href="/posts/{{post.id}}/unlike">unlike</a> -->


                </td>
            </tr>
            {% endfor%}

        </tbody>
    </table>
    <ul>
        
    </ul>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>