.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
}
/* This was right :D */
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 20px;
}
/* I guess I didn't need vertical-align? */
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin-right: 20px;
}
/* I guess I didn't need vertical-align? Just margin-right*/
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
/* Seems I didn't need padding here... Why? */
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 10px;
}
/* I shoulda added this 5px margin to affect the left and right. Remember the cloxk! */
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 10px;
}
/* Counting this as a win but guess I coulda had 10px margin. */